button.art-menu-tofuburger {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: space-between;
    align-items: flex-end;

    div {
        background-color: white;
        height: 0.2rem;

        &:nth-child(1) {
            width: 2rem;
        }

        &:nth-child(2) {
            width: 1.75rem;
        }

        &:nth-child(3) {
            width: 1.5rem;
        }
    }
}
