.art-navmenu-wrapper {
    transition: 0.3s ease-in-out max-width;

    .art-navmenu-outer {
        background-color: black;
    }
}

.art-namespace-home {
    .art-navmenu-outer {
        background-color: var(--art-grape);
    }
}
