.art-pageheroine-outer {
    background: linear-gradient(var(--art-grape) 0%, var(--art-grape) 66%, transparent 66%, transparent 100%);

    .pageheroine-image-container {
        width: 100%;
        height: 50vh;
        overflow: hidden;

        img,
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
