:root {
    --art-gay: #FE37A4;
    --art-apple: #A4FE37;
    --art-grape: #9037FE;
    --art-lemon: #FEC837;
}

html {

    &.art-menu--open {
        overflow: hidden;
    }
}

main {
    transition: 0.75s ease-in-out filter;

    &.art-menu--open {
        filter: brightness(0.25);
    }
}
