@import "fonts/fonts.scss";

$font-family-base : "Inter",
sans-serif;

html {
    font-size: clamp(18px, 1vw, 20px);
    color: white;

    @media (max-width: 780px) {
        font-size: 18px;
    }

    @media (max-width: 360px) {
        font-size: 15px;
    }
}


body {
    font-family: $font-family-base;
    line-height: 1.3;
}

a {

    &.art-arrow-link {

        &::after {
            content: "\eab8";
            font-family: "IcoFont";
            margin-left: 0.15em;
            display: inline-block;
            transition: 0.125s ease-in-out;
            color: var(--art-gay);
        }

        &:hover::after {
            transform: translateX(0.2em);
        }
    }
}

p+p {
    margin-top: 1em;
}
